
<h1>
  Custom Craft - Admin
</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

            Current Code:
        <br>
        <textarea name="new_data" rows="25" cols="75">{{ data }}</textarea><br>


    <form action="/admin/submit" method="post">

		<br>
		Easy Add:
        <br>

        <br>
        Pair: <input type="text" name="pair 1">
        <br>
        <input type="text" name="pair 2">
        <br>

        <br>
        Result: <input type="text" name="result">
        <br>
        Emoji: <input type="text" name="emoji">
        <br>

        <br>
        Password: <input type="password" name="password">
        <br>
        <input type="submit" value="Submit">
    </form>

